@keyframes slide {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  .animate-slide {
    display: flex;
    width: 250%; /* Extend the width to accommodate all items */
    animation: slide 50s linear infinite; /* Increase time to slow down */
  }
  