@keyframes slide {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  .animate-slide {
    display: flex;
    /* width: 400%;  */
    animation: slide 30s linear infinite; /* Increase time to slow down */
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  

  .typewrite > .wrap {
    border-right: 0.08em solid #fff;
  }